*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.hero{
    width: 100%;
    height: 100vh;
    /* background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8),url(https://www.google.com/imgres?q=group&imgurl=https%3A%2F%2Fblog.clickmeeting.com%2Fuploads%2F%2F2022%2F01%2Fblog-20.jpg&imgrefurl=https%3A%2F%2Fblog.clickmeeting.com%2Fgroup-and-team&docid=NBrHc12fLh2B6M&tbnid=uMPY4gZLtrvR0M&w=2552&h=1011&hcb=2)); */
    background-position: center;
    background-size: cover;
    padding: 10px 10%;
    color: #fff;
}

.hero h3{
    margin-top: 15%;
    font-weight: 400;
    font-size: 30px;
}

.hero h1{
    margin-top: 30px;
    font-size: 50px;
}
